---
layout: default
permalink: /categories/
---
<center>
  <h1> -Topics- </h1>
</center>

<p>Below you'll find the topics associated with this website, and the posts tagged under them. Some posts may belong to multiple topics. Feel free to find something to read and relax.</p>


<div class="tab">
  <button class="tablinks" onclick="openCat(event, 'General')">General</button>
  <button class="tablinks" onclick="openCat(event, 'Phishing')">Phishing</button>
  <button class="tablinks" onclick="openCat(event, 'Code')">Code</button>
  <button class="tablinks" onclick="openCat(event, 'Media')">Media</button>
  <button class="tablinks" onclick="openCat(event, 'KHdocs')">Kit Hunter Documentation</button>
</div>

<div id="General" class="tabcontent">
  <table>
    <tr>
      <th>DATE:</th>
      <th>TITLE:</th>
    </tr>
    {% for post in site.categories.general %}
    <tr>
      <td>{{ post.date | date_to_string }}</td>
      <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
  </table></div>

<div id="Phishing" class="tabcontent">
<table>
  <tr>
    <th>DATE:</th>
    <th>TITLE:</th>
  </tr>
  {% for post in site.categories.phishing %}
  <tr>
    <td>{{ post.date | date_to_string }}</td>
    <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
  </tr>
  {% endfor %}
</table>
</div>

<div id="Code" class="tabcontent">
  <table>
    <tr>
      <th>DATE:</th>
      <th>TITLE:</th>
    </tr>
    {% for post in site.categories.code %}
    <tr>
      <td>{{ post.date | date_to_string }}</td>
      <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="Media" class="tabcontent">
  <table>
    <tr>
      <th>DATE:</th>
      <th>TITLE:</th>
    </tr>
    {% for post in site.categories.media %}
    <tr>
      <td>{{ post.date | date_to_string }}</td>
      <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="KHdocs" class="tabcontent">
  <table>
    <tr>
      <th>DATE:</th>
      <th>TITLE:</th>
    </tr>
    {% for post in site.categories.khdocs %}
    <tr>
      <td>{{ post.date | date_to_string }}</td>
      <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<script>
function openCat(evt, catName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(catName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
