---
layout: default
permalink: /categories/
---
<center>
  <h1> -[Topics]- </h1>
</center>

<hr>

<div class="tab">
  <button class="tablinks" onclick="openCat(event, 'General')">General</button>
  <button class="tablinks" onclick="openCat(event, 'Phishing')">Phishing</button>
  <button class="tablinks" onclick="openCat(event, 'Code')">Code</button>
</div>

<div id="General" class="tabcontent">
  {% for post in site.categories.general %}
   <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% endfor %}
</div>

<div id="Phishing" class="tabcontent">
  {% for post in site.categories.phishing %}
   <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% endfor %}
</div>

<div id="Code" class="tabcontent">
  {% for post in site.categories.code %}
   <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% endfor %}
</div>

<script>
function openCat(evt, catName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(catName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
