@import "https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css";

.bg-super-white { background: #0E222F; }
.top-50 { top: 50% }
.pointers { pointer-events: auto; }
.no-pointers { pointer-events: none; }
.link:hover {
  color: #129698;
  text-decoration: underline;
}
/* .link:hover { background: url(/images/line.png) repeat-x left bottom; } */

/* Markdown styles */
.markdown-body a {
  text-decoration: none;
  color: #15475B;
}
.top-markdown a:link, a:visited, a:hover {
  text-decoration: none;
  color: #0E222F;
}
.markdown-body .highlighter-rouge {
  padding: .25rem .5rem;
}
.markdown-body pre {
  margin: 0;
  overflow: auto;
}
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #000;
}
.markdown-body blockquote {
  background: #A9D9B7;
  border-left: .2rem solid #000;
  padding-left: 3.8rem;
}
.markdown-body table {
  font-size: inherit;
  width: 100%;
  margin-bottom: 2em;
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-body table th,
.markdown-body table td {
  padding: .8em .4em;
  border-bottom: 1px solid #000;
  border-bottom-color: rgba(0,0,0,0.2);
}
/* end Markdown styles */
